
.famie-breadcrumb {
    position: relative;
    z-index: 1;
    padding-top: 48px;
    padding-bottom: 48px;

    .breadcrumb {
        padding: 0;
        margin-bottom: 0;
        background-color: transparent;
        border-radius: 0;

        .breadcrumb-item {
            color: $text;
            font-size: 10px;
            font-weight: 400;
            @media only screen and (min-width: 992px) and (max-width: 1199px) {
              .breadcrumb-area {
                height: 240px; } }
            @media only screen and (min-width: 768px) and (max-width: 991px) {
              .breadcrumb-area {
                height: 200px; } }
            @media only screen and (max-width: 767px) {
              .breadcrumb-area {
                height: 150px; } }
            @media #{$breakpoint-lg} {
                font-size: 14px;
            }

            @media #{$breakpoint-md} {
                font-size: 14px;
            }

            @media #{$breakpoint-xs} {
                font-size: 12px;
            }

            a {
                color: $heading;
                font-size: 16px;
                font-weight: 400;

                @media #{$breakpoint-lg} {
                    font-size: 14px;
                }

                @media #{$breakpoint-md} {
                    font-size: 14px;
                }

                @media #{$breakpoint-xs} {
                    font-size: 12px;
                }

                &:hover,
                &:focus {
                    font-weight: 400;
                    color: $hover;
                }
            }
        }
    }

    .breadcrumb-item + .breadcrumb-item::before {
        content: "\f105";
        font-family: "FontAwesome";
        color: $text;
    }
}
